flows/AddSolPortButton.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddSolPort</name>
        <label>AddSolPort</label>
        <locationX>248</locationX>
        <locationY>58</locationY>
        <actionName>AddSolutionPortfolio</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>AddSolPortButton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddSolPortButton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_Solution_Portfolio</name>
        <label>Add Solution Portfolio</label>
        <locationX>136</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddSolPort</targetReference>
        </connector>
        <fields>
            <name>texttoshow</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Adding Solution Portfolio....&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Add_Solution_Portfolio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
