flows/AssignSprint.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>getRecordId</name>
        <label>getRecordId</label>
        <locationX>64</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Sprint</targetReference>
        </connector>
    </assignments>
    <interviewLabel>AssignSprint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignSprint</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>addSprintValue</name>
        <label>addSprintValue</label>
        <locationX>814</locationX>
        <locationY>100</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Assignment__c</field>
            <value>
                <elementReference>GetSprints.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetSprintInfo</name>
        <label>GetSprintInfo</label>
        <locationX>391</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SprintInfo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSprints.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sprint_Master__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Sprint_Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_to_Sprint</name>
        <label>Assign to Sprint</label>
        <locationX>214</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSprintInfo</targetReference>
        </connector>
        <fields>
            <name>GetSprints</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sprint_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sprint to assign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sprint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>showAccount</name>
            <fieldText>&lt;p&gt;{!vAccountId}&lt;/p&gt;&lt;p&gt;{!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SprintInfo</name>
        <label>SprintInfo</label>
        <locationX>600</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>addSprintValue</targetReference>
        </connector>
        <fields>
            <name>SprintDetails</name>
            <fieldText>&lt;p&gt;You have selected the following Sprint:&lt;/p&gt;&lt;p&gt;Sprint Name:{!GetSprintInfo.Name}&lt;/p&gt;&lt;p&gt;Sprint Description:  {!GetSprintInfo.Sprint_Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The default dates of the sprint are populated below.  You can override the dates if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetSprintInfo.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>StartDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetSprintInfo.End_Date__c</elementReference>
            </defaultValue>
            <fieldText>EndDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRecordId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
