flows/AssignSprintTasksasBatch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>incrementAccountCount</name>
        <label>incrementAccountCount</label>
        <locationX>338</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>vCountInt</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNumberofAccountswithLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementCounter</name>
        <label>IncrementCounter</label>
        <locationX>635</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>vCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruMasterTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Schedule_All</name>
        <label>Schedule All?</label>
        <locationX>991</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Populate_Scheduler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Scheduler</defaultConnectorLabel>
        <rules>
            <name>Create_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Schedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign all Tasks at Once</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTasks</targetReference>
            </connector>
            <label>Create All</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskAssignment</name>
        <label>TaskAssignment</label>
        <locationX>904</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>clearSelectField_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tasks Assigned</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Task_Schedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign All Tasks at Once</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTasks</targetReference>
            </connector>
            <label>Assign All Tasks</label>
        </rules>
        <rules>
            <name>Task_Scheduler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Schedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Use Task Scheduler</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTasks</targetReference>
            </connector>
            <label>Task Scheduler</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vSchedulePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Task_Scheduler__c</picklistField>
        <picklistObject>Sprint__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>computedActivityDate</name>
        <dataType>Date</dataType>
        <expression>{!StartDate}+{!vLoopTask.Days_from_Start__c}</expression>
    </formulas>
    <interviewLabel>AssignSprintTasksasBatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignSprintTasksasBatch</label>
    <loops>
        <name>GetNumberofAccountswithLoop</name>
        <label>GetNumberofAccountswithLoop</label>
        <locationX>194</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>loopCounting</assignNextValueToReference>
        <collectionReference>GetAccountInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>incrementAccountCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>numAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_accounts</name>
        <label>Loop thru accounts</label>
        <locationX>495</locationX>
        <locationY>97</locationY>
        <assignNextValueToReference>vLoopAccount</assignNextValueToReference>
        <collectionReference>GetAccountInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addSprintValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>clearSelectField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThruMasterTasks</name>
        <label>LoopThruMasterTasks</label>
        <locationX>844</locationX>
        <locationY>436</locationY>
        <assignNextValueToReference>vLoopTask</assignNextValueToReference>
        <collectionReference>GetTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Schedule_All</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_thru_accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>addSprintValue</name>
        <label>addSprintValue</label>
        <locationX>696</locationX>
        <locationY>88</locationY>
        <assignRecordIdToReference>vNewSprintRecord</assignRecordIdToReference>
        <connector>
            <targetReference>TaskAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vLoopAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Assignment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Scheduler__c</field>
            <value>
                <elementReference>Task_Schedule</elementReference>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTasks</name>
        <label>CreateTasks</label>
        <locationX>805</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>IncrementCounter</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>computedActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>vLoopTask.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vLoopAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>vNewSprintRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vLoopTask.Text_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vLoopAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Populate_Scheduler</name>
        <label>Populate Scheduler</label>
        <locationX>892</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>IncrementCounter</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>vLoopAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Date__c</field>
            <value>
                <elementReference>computedActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>vLoopAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>vLoopTask.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_ID__c</field>
            <value>
                <elementReference>vNewSprintRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Master_Name__c</field>
            <value>
                <elementReference>vLoopTask.Master_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Subject__c</field>
            <value>
                <elementReference>vLoopTask.Text_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sprint_Future_Tasks__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>186</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNumberofAccountswithLoop</targetReference>
        </connector>
        <filters>
            <field>Admin_Force__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Select_a_Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Select_a_Sprint__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSprintInfo</name>
        <label>GetSprintInfo</label>
        <locationX>49</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SprintInfo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sprint_Master__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Sprint_Description__c</queriedFields>
        <queriedFields>Sprint_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTasks</name>
        <label>GetTasks</label>
        <locationX>838</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThruMasterTasks</targetReference>
        </connector>
        <filters>
            <field>Sprint_Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sprint_Master_Task__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Text_Subject__c</queriedFields>
        <queriedFields>Days_from_Start__c</queriedFields>
        <queriedFields>Due_Days_From_Start__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Master_Name__c</queriedFields>
        <sortField>Text_Subject__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>clearSelectField</name>
        <label>clearSelectField</label>
        <locationX>335</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <filters>
            <field>Admin_Force__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Select_a_Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Force__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>clearSelectField_0</name>
        <label>clearSelectField</label>
        <locationX>1191</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Finished_with_No_tasks</targetReference>
        </connector>
        <filters>
            <field>Admin_Force__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Select_a_Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_Force__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Your sprints have been assigned.</description>
        <name>Done</name>
        <label>Done</label>
        <locationX>315</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletionMessage</name>
            <fieldText>&lt;p&gt;Your sprints have been assigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_with_No_tasks</name>
        <label>Finished with No tasks</label>
        <locationX>1364</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowisComplete</name>
            <fieldText>&lt;p&gt;Your sprint as been assigned with no tasks.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>numAccounts</name>
        <label>Show Number of Accounts</label>
        <locationX>369</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_thru_accounts</targetReference>
        </connector>
        <fields>
            <name>countAccounts</name>
            <fieldText>&lt;p&gt;Number of accounts:  {!vCountInt}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SprintInfo</name>
        <label>SprintInfo</label>
        <locationX>33</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAccountInfo</targetReference>
        </connector>
        <fields>
            <name>SprintDetails</name>
            <fieldText>&lt;p&gt;You have selected the following Sprint:&lt;/p&gt;&lt;p&gt;Sprint ID:{!GetSprintInfo.Name}&lt;/p&gt;&lt;p&gt;Sprint Name: {!GetSprintInfo.Sprint_Name__c}&lt;/p&gt;&lt;p&gt;Sprint Description:  {!GetSprintInfo.Sprint_Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The default dates of the sprint are populated below.  You can override the dates if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetSprintInfo.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>StartDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetSprintInfo.End_Date__c</elementReference>
            </defaultValue>
            <fieldText>EndDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Task_Schedule</name>
            <choiceReferences>vSchedulePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task Schedule</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSprintInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopCounting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rcCountAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCountInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vLoopAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vLoopTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprint_Master_Task__c</objectType>
    </variables>
    <variables>
        <name>vLoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vNewSprintRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
