flows/Cancel_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Sprint_email</name>
        <label>Cancel Sprint email</label>
        <locationX>607</locationX>
        <locationY>55</locationY>
        <actionName>Sprint__c.Cancel_Sprint_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Cancel</name>
        <choiceText>{!Yes}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>Yes</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <interviewLabel>Cancel Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdatePendingcancel</name>
        <label>UpdatePendingcancel</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cancel_Sprint_email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <elementReference>Reason_for_cancellation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Cancellation</stringValue>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Sprint</name>
        <label>Cancel Sprint</label>
        <locationX>193</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePendingcancel</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;You have chosen to cancel your Sprint.&lt;/p&gt;&lt;p&gt;Please provide a short reason for the cancellation and click Finish to confirm your cancellation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_cancellation</name>
            <dataType>String</dataType>
            <fieldText>Reason for cancellation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cancel_Sprint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
