flows/ClearSelectaSprint.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>clearSelectvalue</name>
        <label>clearSelectvalue</label>
        <locationX>557</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>vLoopAccount.Select_a_Sprint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>vSchedulePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Task_Scheduler__c</picklistField>
        <picklistObject>Sprint__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ClearSelectaSprint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClearSelectaSprint</label>
    <loops>
        <name>loopthru</name>
        <label>loopthru</label>
        <locationX>413</locationX>
        <locationY>234</locationY>
        <assignNextValueToReference>vLoopAccount</assignNextValueToReference>
        <collectionReference>GetAccountInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>clearSelectvalue</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>231</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopthru</targetReference>
        </connector>
        <filters>
            <field>Select_a_Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>updateAccounts</label>
        <locationX>750</locationX>
        <locationY>249</locationY>
        <filters>
            <field>Select_a_Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Select_a_Sprint__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>GetAccountInfo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>rcNewAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vLoopAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vLoopTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprint_Master_Task__c</objectType>
    </variables>
    <variables>
        <name>vLoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vNewSprintRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
