flows/EmailMessagePostsOpenDatetoActivity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>No_record_found</name>
        <label>No record found</label>
        <locationX>306</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>varError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No record was found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_the_record</name>
        <label>Found the record</label>
        <locationX>286</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>No_record_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records</defaultConnectorLabel>
        <rules>
            <name>Found_a_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEmailMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopEmails</targetReference>
            </connector>
            <label>Found a record</label>
        </rules>
    </decisions>
    <formulas>
        <name>varThisWeek</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-7</expression>
    </formulas>
    <interviewLabel>EmailMessagePostsOpenDatetoActivity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessagePostsOpenDatetoActivity</label>
    <loops>
        <name>LoopEmails</name>
        <label>loop thru email messsages</label>
        <locationX>441</locationX>
        <locationY>56</locationY>
        <assignNextValueToReference>loopvarEmail</assignNextValueToReference>
        <collectionReference>GetEmailMessage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateActivity</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEmailMessage</name>
        <label>GetEmailMessage</label>
        <locationX>174</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_record</targetReference>
        </connector>
        <filters>
            <field>FirstOpenedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstOpenedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>vTestDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstOpenedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>vTestDateplus1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityId</queriedFields>
        <queriedFields>FirstOpenedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActivity</name>
        <label>UpdateActivity</label>
        <locationX>647</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>LoopEmails</targetReference>
        </connector>
        <filters>
            <field>Email_Opened_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopvarEmail.ActivityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0122M000001MI2NQAW</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Opened_Date__c</field>
            <value>
                <elementReference>loopvarEmail.FirstOpenedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>30</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>GetEmailMessage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>loopvarEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No records found</stringValue>
        </value>
    </variables>
    <variables>
        <name>varToday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2020-02-13</dateValue>
        </value>
    </variables>
    <variables>
        <name>vTestDateplus1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2020-02-18</dateValue>
        </value>
    </variables>
</Flow>
