flows/FlowtoPopulateOppWins2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>incrementCounter</name>
        <label>incrementCounter</label>
        <locationX>301</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>vSOQLCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkcounter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>anysolports</name>
        <label>anysolports?</label>
        <locationX>596</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Loopthruopps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>foundrecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSolPortRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uppOppcheckedflag</targetReference>
            </connector>
            <label>found records</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkcounter</name>
        <label>checkcounter</label>
        <locationX>411</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>anysolports</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>enough_Soql</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSOQLCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>32.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReachedMaxSOQL</targetReference>
            </connector>
            <label>enough Soql</label>
        </rules>
    </decisions>
    <interviewLabel>FlowtoPopulateOppWins2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowtoPopulateOppWins2</label>
    <loops>
        <name>Loopthruopps</name>
        <label>Loopthruopps</label>
        <locationX>188</locationX>
        <locationY>403</locationY>
        <assignNextValueToReference>vLoopOpp</assignNextValueToReference>
        <collectionReference>rcOppswithWins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSolPortRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finished</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetSoldOppswithSolutions</name>
        <label>GetSoldOppswithSolutions</label>
        <locationX>51</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loopthruopps</targetReference>
        </connector>
        <filters>
            <field>MarkedSP__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>rcOppswithWins</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Solution__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSolPortRecords</name>
        <label>GetSolPortRecords</label>
        <locationX>206</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>incrementCounter</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLoopOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLoopOpp.Solution__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SolPort__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOppFlag</name>
        <label>UpdateOppFlag</label>
        <locationX>594</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Loopthruopps</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSolPortRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>uppOppcheckedflag</name>
        <label>uppOppcheckedflag</label>
        <locationX>763</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>UpdateOppFlag</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLoopOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MarkedSP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>622</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alldone</name>
            <fieldText>&lt;p&gt;All done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReachedMaxSOQL</name>
        <label>ReachedMaxSOQL</label>
        <locationX>851</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warning</name>
            <fieldText>&lt;p&gt;Hit max of soql queries - run again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSoldOppswithSolutions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcOppswithWins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rcSolPort</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SolPort__c</objectType>
    </variables>
    <variables>
        <name>vLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoopOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SolPort__c</objectType>
    </variables>
    <variables>
        <name>vSOQLCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
