flows/Lead_Assignment_and_Lead_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Lead_Assignment</name>
        <label>Run Lead Assignment</label>
        <locationX>574</locationX>
        <locationY>45</locationY>
        <actionName>AssignLeadsUsingAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetNewOwner</targetReference>
        </connector>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>CurrentLead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Automation_Criteria</name>
        <label>Automation Criteria</label>
        <locationX>250</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Default_outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>force_LAR_rule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Run_Lead_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isTest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Lead_Assignment</targetReference>
            </connector>
            <label>force LAR rule</label>
        </rules>
        <rules>
            <name>NewLeadNotSCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Lead_Assignment</targetReference>
            </connector>
            <label>New Lead</label>
        </rules>
        <rules>
            <name>Existing_HubSpot_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hubspot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Lead_Assignment</targetReference>
            </connector>
            <label>Existing HubSpot Lead</label>
        </rules>
        <rules>
            <name>is_territory_owner_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Territory_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNewOwner</targetReference>
            </connector>
            <label>is territory owner set</label>
        </rules>
        <rules>
            <name>Owner_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentLead.Territory_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNewOwner</targetReference>
            </connector>
            <label>Owner changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_this_owned_by_sales_rep</name>
        <label>is this owned by sales rep</label>
        <locationX>1006</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>UpdateOwners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_this_hubspot_owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewOwner.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hubspot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_not_update_territory_owner_0</targetReference>
            </connector>
            <label>is this hubspot owned</label>
        </rules>
        <rules>
            <name>NoInsideSalesUsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedUserInfo.No_Inside_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>doesnotuseinsidesales</targetReference>
            </connector>
            <label>No Inside Sales</label>
        </rules>
        <rules>
            <name>is_this_an_inside_sales_rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedUserInfo.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>inside</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_not_update_territory_owner</targetReference>
            </connector>
            <label>is this an inside sales rep</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNewLead</name>
        <dataType>Boolean</dataType>
        <expression>if({!CurrentLead.CreatedDate}={!CurrentLead.LastModifiedDate}, true, false)</expression>
    </formulas>
    <interviewLabel>Lead Assignment and Lead Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment and Lead Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNewOwner</name>
        <label>GetNewOwner</label>
        <locationX>565</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedUserInfo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedUserInfo</name>
        <label>GetRelatedUserInfo</label>
        <locationX>838</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_this_owned_by_sales_rep</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewOwner.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>Inside_Sales_Rep__c</queriedFields>
        <queriedFields>No_Inside_Sales__c</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>165</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Automation_Criteria</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>CurrentLead</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Territory_Owner__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Default_outcome</name>
        <label>Default outcome</label>
        <locationX>275</locationX>
        <locationY>681</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>default outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Do_not_update_territory_owner</name>
        <label>Do not update territory owner</label>
        <locationX>830</locationX>
        <locationY>656</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>Not owned by sales rep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Do_not_update_territory_owner_0</name>
        <label>Do not update territory owner</label>
        <locationX>1241</locationX>
        <locationY>609</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>owned by hubspot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>doesnotuseinsidesales</name>
        <label>Does not use inside sales</label>
        <locationX>1060</locationX>
        <locationY>621</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>does not engage inside sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Owner__c</field>
            <value>
                <elementReference>GetNewOwner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwners</name>
        <label>UpdateOwners</label>
        <locationX>1149</locationX>
        <locationY>185</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>GetRelatedUserInfo.Inside_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_owner_s_Manager__c</field>
            <value>
                <elementReference>GetRelatedUserInfo.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Owner__c</field>
            <value>
                <elementReference>GetNewOwner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Lead_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>flow_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;no lead record found&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>HubSpotOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0052M000008zBckQAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>isTest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInsideSalesIDforTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerisQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
