flows/Lead_UpdateParentAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>parentaccountfound</name>
        <label>parentaccountfound?</label>
        <locationX>457</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>foundparent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParent</targetReference>
            </connector>
            <label>foundparent?</label>
        </rules>
    </decisions>
    <interviewLabel>Lead-UpdateParentAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead-UpdateParentAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>170</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetParentAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>rvLeadRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Domain__c</queriedFields>
        <queriedFields>Parent_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetParentAccount</name>
        <label>GetParentAccount</label>
        <locationX>336</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>parentaccountfound</targetReference>
        </connector>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvLeadRecord.Domain__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>rcAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParent</name>
        <label>UpdateParent</label>
        <locationX>612</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <elementReference>rcAccounts.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>getLead</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>rcAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rcMatchingAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoopVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
