flows/MQL_from_PB_Ver_2020.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>R1_MQL_Email_Alert</name>
        <label>R1 MQL Email Alert</label>
        <locationX>678</locationX>
        <locationY>1009</locationY>
        <actionName>Lead.R1_MQL_Lead_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Lead_Assignment</name>
        <label>Run Lead Assignment</label>
        <locationX>611</locationX>
        <locationY>50</locationY>
        <actionName>AssignLeadsUsingAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetNewOwner</targetReference>
        </connector>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Lead_Assignment_0</name>
        <label>Run Lead Assignment</label>
        <locationX>757</locationX>
        <locationY>253</locationY>
        <actionName>AssignLeadsUsingAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetNewOwner</targetReference>
        </connector>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Flow_ends_no_record_found</name>
        <label>Flow_ends_no record found</label>
        <locationX>64</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>flow_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Lead ID not found in Lead Object&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Automation_Criteria</name>
        <label>Automation Criteria</label>
        <locationX>302</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Default_outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>NewLeadNotSCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Lead_Assignment</targetReference>
            </connector>
            <label>New Lead without MQL/SCR</label>
        </rules>
        <rules>
            <name>Existing_HubSpot_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HubSpotOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Lead_Assignment_0</targetReference>
            </connector>
            <label>Existing HubSpot Lead without MQL/SCR</label>
        </rules>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Marketing_qualified_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatelead5</targetReference>
            </connector>
            <label>MQL - Status = New/RTM</label>
        </rules>
        <rules>
            <name>MQL_Active_Lead_RTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Marketing_qualified_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Lead - In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatelead6</targetReference>
            </connector>
            <label>MQL - Active Lead/RTM</label>
        </rules>
        <rules>
            <name>MQL_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Marketing_qualified_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified - Non-Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatelead7</targetReference>
            </connector>
            <label>MQL - Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_exists</name>
        <label>Does lead exist?</label>
        <locationX>170</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>leadId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automation_Criteria</targetReference>
            </connector>
            <label>Lead_is_found</label>
        </rules>
        <rules>
            <name>Lead_is_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_ends_no_record_found</targetReference>
            </connector>
            <label>Lead_is_not_found</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNewLead</name>
        <dataType>Boolean</dataType>
        <expression>if({!CurrentLead.CreatedDate}={!CurrentLead.LastModifiedDate}, true, false)</expression>
    </formulas>
    <interviewLabel>MQL from PB Ver 2020 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL from PB Ver 2020</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNewOwner</name>
        <label>GetNewOwner</label>
        <locationX>769</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedUserInfo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedUserInfo</name>
        <label>GetRelatedUserInfo</label>
        <locationX>896</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOwners</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewOwner.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>Inside_Sales_Rep__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>50</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>CurrentLead</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Outcome_Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Marketing_qualified_lead__c</queriedFields>
        <queriedFields>Sales_Call_Requested__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Default_outcome</name>
        <label>Default outcome</label>
        <locationX>875</locationX>
        <locationY>441</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>default outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatelead5</name>
        <label>Update lead 5</label>
        <locationX>300</locationX>
        <locationY>855</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>Update Lead 5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatelead6</name>
        <label>Update Lead 6</label>
        <locationX>395</locationX>
        <locationY>726</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>update Lead 6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Meeting Scheduling in Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatelead7</name>
        <label>Update Lead 7</label>
        <locationX>475</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>Update Lead 7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwners</name>
        <label>UpdateOwners</label>
        <locationX>1071</locationX>
        <locationY>86</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>GetRelatedUserInfo.Inside_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_owner_s_Manager__c</field>
            <value>
                <elementReference>GetRelatedUserInfo.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Owner__c</field>
            <value>
                <elementReference>GetNewOwner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Lead_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>flow_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;no lead record found&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>HubSpotOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0052M000008zBckQAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>vInsideSalesIDforTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerisQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
