flows/MQL_only_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>R1_MQL_Email_Alert</name>
        <label>R1 MQL Email Alert</label>
        <locationX>422</locationX>
        <locationY>513</locationY>
        <actionName>Lead.R1_MQL_Lead_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Automation_Criteria</name>
        <label>Automation Criteria</label>
        <locationX>310</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>Default_outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Marketing_qualified_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatelead5</targetReference>
            </connector>
            <label>MQL - Status = New/RTM</label>
        </rules>
        <rules>
            <name>MQL_Active_Lead_RTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Marketing_qualified_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Lead - In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatelead6</targetReference>
            </connector>
            <label>MQL - Active Lead/RTM</label>
        </rules>
        <rules>
            <name>MQL_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Marketing_qualified_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified - Non-Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatelead7</targetReference>
            </connector>
            <label>MQL - Rejected</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNewLead</name>
        <dataType>Boolean</dataType>
        <expression>if({!CurrentLead.CreatedDate}={!CurrentLead.LastModifiedDate}, true, false)</expression>
    </formulas>
    <interviewLabel>MQL only v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL only v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>176</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Automation_Criteria</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>CurrentLead</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Outcome_Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Marketing_qualified_lead__c</queriedFields>
        <queriedFields>Sales_Call_Requested__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Default_outcome</name>
        <label>Default outcome</label>
        <locationX>1176</locationX>
        <locationY>373</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>default outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatelead5</name>
        <label>Update lead 5</label>
        <locationX>93</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>Update Lead 5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatelead6</name>
        <label>Update Lead 6</label>
        <locationX>272</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>update Lead 6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Meeting Scheduling in Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatelead7</name>
        <label>Update Lead 7</label>
        <locationX>404</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>Update Lead 7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunLeadAssignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Lead_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>flow_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;no lead record found&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>HubSpotOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0052M000008zBckQAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>vInsideSalesIDforTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwnerisQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
