flows/MQL_Lead_Automation_From_Process_Builder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_New_Lead_Owner</name>
        <label>Email New Lead Owner</label>
        <locationX>1172</locationX>
        <locationY>374</locationY>
        <actionName>Lead.R1_New_Lead_Owner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>R1_MQL_Email_Alert</name>
        <label>R1 MQL Email Alert</label>
        <locationX>1175</locationX>
        <locationY>727</locationY>
        <actionName>Lead.R1_MQL_Lead_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Lead_Assignment</name>
        <label>Run Lead Assignment</label>
        <locationX>1012</locationX>
        <locationY>374</locationY>
        <actionName>AssignLeadsUsingAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_New_Lead_Owner</targetReference>
        </connector>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Flow_ends_no_record_found</name>
        <label>Flow_ends_no record found</label>
        <locationX>68</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>flow_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Lead ID not found in Lead Object&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Automation_Criteria</name>
        <label>Automation Criteria</label>
        <locationX>344</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Default_outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default - no rule applied</defaultConnectorLabel>
        <rules>
            <name>Row_2_LRT_SL_Owner_is_Marketing_Queue_LS_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G41000002rEck</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_2_Lead_Update</targetReference>
            </connector>
            <label>Row 2 (LRT = SL, Owner is Marketing Queue, LS = Nurture)</label>
        </rules>
        <rules>
            <name>Row_3_LRT_SL_Owner_is_Rejected_Queue_LS_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G2M0000038Uyr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_3_Lead_Update_0</targetReference>
            </connector>
            <label>Row 3 (LRT = SL, Owner is Rejected Queue, LS = Reject)</label>
        </rules>
        <rules>
            <name>Row_4_QL_Owner_is_Marketing_Queue_LS_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Lead (QL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G41000002rEck</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_4_and6_Lead_Update_0_0</targetReference>
            </connector>
            <label>Row 4 (LRT = QL, Owner is Marketing Queue, LS = Nurture)</label>
        </rules>
        <rules>
            <name>Row_5_LRT_SL_orSQL_Owner_is_Reject_Queue_LS_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Lead (QL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G2M0000038Uyr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_5_and_7_Lead_Update_0_0_0</targetReference>
            </connector>
            <label>Row 5 (LRT = QL, Owner is Reject Queue, LS = Rejected)</label>
        </rules>
        <rules>
            <name>Row_6_LRT_SQL_Owner_is_Marketing_Queue_LS_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G41000002rEck</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified Lead (SQL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_4_and6_Lead_Update_0_0</targetReference>
            </connector>
            <label>Row 6 (LRT = SQL, Owner is Marketing Queue, LS = Nurture)</label>
        </rules>
        <rules>
            <name>Row_7_LRT_SQL_Owner_is_REject_Queue_LS_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified Lead (SQL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00G2M0000038Uyr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_5_and_7_Lead_Update_0_0_0</targetReference>
            </connector>
            <label>Row 7 (LRT = SQL, Owner is Reject Queue, LS = Reject)</label>
        </rules>
        <rules>
            <name>Row_8_LRT_SL_Marketing_Queue_LS_Nurture_ior_Dead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Lead - In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>HubSpotOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_8_Lead_Update_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Row 8 (LRT = SL, Owner = User (Not HS), LS = Active - in Progress)</label>
        </rules>
        <rules>
            <name>Row_11_LRT_SL_Owner_User_Not_HS_LS_Active_Awaiting_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0052M000008PlfrQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_11_Lead_Update_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Row 11 (LRT = SL, Owner = User (Not HS), LS = Dead/closed/Disqualified)</label>
        </rules>
        <rules>
            <name>Row_12_LRT_QL_Owner_User_LS_Dead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Lead (QL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_12_13_Lead_Update</targetReference>
            </connector>
            <label>Row 12 (LRT = QL, Owner = User, LS = Dead)</label>
        </rules>
        <rules>
            <name>Row_13_LRT_SQL_Owner_User_LS_Dead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified Lead (SQL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_12_13_Lead_Update</targetReference>
            </connector>
            <label>Row 13 (LRT = SQL, Owner = User, LS = Dead)</label>
        </rules>
        <rules>
            <name>Row_9_10_Do_Nothing</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Lead (QL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified Lead (SQL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Lead - In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rows_9_10</targetReference>
            </connector>
            <label>Row 9 &amp; 10 Do Nothing (LRT = QL, SQL, Owner Not a Queue, LS = Active)</label>
        </rules>
        <rules>
            <name>row_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>HubSpotOwnerID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Lead - In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Outcome_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_14_Update_record</targetReference>
            </connector>
            <label>row 14 (LRT = SL, Owner is User, LS=Active lead in process, outcome =continue to nurture</label>
        </rules>
        <rules>
            <name>row_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HubSpotOwnerID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>row_15_Update</targetReference>
            </connector>
            <label>row 15(LRT=SL, Owner is HS, LS = New awaiting Qual)</label>
        </rules>
        <rules>
            <name>row_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Funnel_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspect Lead (SL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLead.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>HubSpotOwnerID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_16_update</targetReference>
            </connector>
            <label>row 16 (LRT=SL, Owner is a User)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_exists</name>
        <label>Does lead exist?</label>
        <locationX>250</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>leadId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automation_Criteria</targetReference>
            </connector>
            <label>Lead_is_found</label>
        </rules>
        <rules>
            <name>Lead_is_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_ends_no_record_found</targetReference>
            </connector>
            <label>Lead_is_not_found</label>
        </rules>
    </decisions>
    <description>1/29/2020 modified to not use funnel stage/record type</description>
    <interviewLabel>Lead Automation From Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL Lead Automation From Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>180</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>CurrentLead</outputReference>
        <queriedFields>Funnel_Stage__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Outcome_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Default_outcome</name>
        <label>Default outcome</label>
        <locationX>239</locationX>
        <locationY>797</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>&quot;default outcome reached - no rule was applied&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_11_Lead_Update_0_0_0_0_0_0_0_0_0</name>
        <label>Row 11 Lead Update</label>
        <locationX>694</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 11</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_12_13_Lead_Update</name>
        <label>Row 12 &amp; 13 Lead Update</label>
        <locationX>950</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 12&amp;13</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_14_Update_record</name>
        <label>Row 14 Update record</label>
        <locationX>503</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <stringValue>Qualified Lead (QL)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 14</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122M000001IlkNQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>row_15_Update</name>
        <label>row 15 Update</label>
        <locationX>470</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Run_Lead_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 15</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_16_update</name>
        <label>Row 16 update</label>
        <locationX>397</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 16</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_2_Lead_Update</name>
        <label>Row 2 Lead Update</label>
        <locationX>1007</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Run_Lead_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_3_Lead_Update_0</name>
        <label>Row 3 Lead Update</label>
        <locationX>736</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Run_Lead_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_4_and6_Lead_Update_0_0</name>
        <label>Row 4 &amp; 6 Lead Update</label>
        <locationX>376</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Run_Lead_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 4&amp;6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_5_and_7_Lead_Update_0_0_0</name>
        <label>Row 5 &amp; 7 Lead Update</label>
        <locationX>185</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Run_Lead_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 5&amp;7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <stringValue>Awaiting Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Row_8_Lead_Update_0_0_0_0_0_0</name>
        <label>Row 8 Lead Update</label>
        <locationX>890</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>R1_MQL_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>row 8</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rows_9_10</name>
        <label>Rows 9 &amp; 10</label>
        <locationX>1196</locationX>
        <locationY>566</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQL_Task_Debunk__c</field>
            <value>
                <stringValue>Rows 9&amp;10</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lead_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>flow_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;no lead record found&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>HubSpotOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0052M000008PlfrQAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
