flows/ProspectswithoutSP.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignRecordCount</name>
        <label>assignRecordCount</label>
        <locationX>354</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>vCountAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAccountsWithoutSP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts_without_SP</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ProspectswithoutSP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProspectswithoutSP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccountsWithoutSP</name>
        <label>GetAccountsWithoutSP</label>
        <locationX>209</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecordCount</targetReference>
        </connector>
        <filters>
            <field>CountSolPort__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Out of Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Office / Site</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Accounts_without_SP</name>
        <label>Accounts without SP</label>
        <locationX>513</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;Current Prospects without sp&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showCount</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vCountAccounts</elementReference>
            </defaultValue>
            <fieldText>showCount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccountsWithoutSP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vCountAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
