flows/Q2C_Flow_FORCE_COM_users.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignProfileValues</name>
        <label>assignProfileValues</label>
        <locationX>140</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>rcvTestProfile</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00e2M000000wgA2QAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcvTestProfile</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00e2M000000wgAHQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcvTestProfile</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00e2M000000wgAMQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcvTestProfile</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00e2M000000wgARQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcvTestProfile</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00e2M000000wgAWQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultvalueforSOWforsfdc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultValueMSAforSFDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProfiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRevenueValue</name>
        <label>assignRevenueValue</label>
        <locationX>501</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>vRevenueforSFDC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Expected_Annual_Revenue2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRevenueforSFDC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Expected_Annual_Revenue3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vServicesForSFDC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Services_to_be_Provided</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vServicesForSFDC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Services_to_be_Provided2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsForceUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserChoicesToDefault</name>
        <label>AssignUserChoicesToDefault</label>
        <locationX>1073</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>defaultvalueforSOWforsfdc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOW_Requested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultValueMSAforSFDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSA_Requested</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserisForce</name>
        <label>UserisForce</label>
        <locationX>733</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>isforce</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProfiles</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceState</name>
        <choiceText>{!varStateofInc}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varStateofInc</elementReference>
        </value>
    </choices>
    <choices>
        <description>Empty/None value option</description>
        <name>None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NotSelected</name>
        <choiceText>{!varStateofInc}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varStateofInc</elementReference>
        </value>
    </choices>
    <choices>
        <name>Select_Value</name>
        <choiceText>{!varCustomerCategory}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varCustomerCategory</elementReference>
        </value>
    </choices>
    <choices>
        <name>SelectRT</name>
        <choiceText>Please Select a Request Type</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>None</elementReference>
        </value>
    </choices>
    <constants>
        <name>cNo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>cYes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsForceUser</name>
        <label>IsForceUser?</label>
        <locationX>657</locationX>
        <locationY>1039</locationY>
        <defaultConnector>
            <targetReference>CreateQ2CforForceUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Force.com User</defaultConnectorLabel>
        <rules>
            <name>Is_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isforce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLegalRequest</targetReference>
            </connector>
            <label>Is Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProfileForce</name>
        <label>isProfileForce</label>
        <locationX>574</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>LoopProfiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ForceProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testProfileValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UserProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserisForce</targetReference>
            </connector>
            <label>ForceProfile</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereAContact</name>
        <label>IsThereAContact?</label>
        <locationX>1206</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Type_of_Request_Routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactRecord</targetReference>
            </connector>
            <label>Yes to Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereanOpportunity</name>
        <label>IsThereanOpportunity</label>
        <locationX>784</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>IsThereAContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_to_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseOpportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpporutnity</targetReference>
            </connector>
            <label>Yes to Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing</name>
        <label>New or Existing</label>
        <locationX>1069</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Existing_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Customer_Additional_Questions</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequestTypeblank</name>
        <label>RequestTypeblank</label>
        <locationX>566</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Select_Related_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Request_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TryAgain</targetReference>
            </connector>
            <label>No Request Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Request_Routing</name>
        <label>Type of Request Routing</label>
        <locationX>536</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Finalize_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer Modification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_CustomerScreen</targetReference>
            </connector>
            <label>New/Existing</label>
        </rules>
        <rules>
            <name>NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDA_screen</targetReference>
            </connector>
            <label>NDA</label>
        </rules>
        <rules>
            <name>BAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BAA_Screen</targetReference>
            </connector>
            <label>BAA</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer Modification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Customer</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <description>Removed lookups to opportunity object</description>
    <dynamicChoiceSets>
        <name>CustomerCategoryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Category__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_Customer_Change__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LumnaryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Luminary_Program__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NDATypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NDA_Type_Requested__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewCustServicePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_Customer_Services__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelatedContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SoftwareIncludedPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Software_Included__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_of_Incorporation__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hardware_Included__c</picklistField>
        <picklistObject>Legal_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>BAAExecutedText</name>
        <dataType>String</dataType>
        <expression>if({!BAA_CB},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>CommitUpside</name>
        <dataType>String</dataType>
        <expression>IF(AND({!rvOpportunity.FC__c}&gt;0,{!rvOpportunity.C_U__c}=&apos;C&apos;),&apos;Commit&apos;,if({!rvOpportunity.FC__c}&gt;0,&apos;Upside&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>DefaultRequestDate</name>
        <dataType>Date</dataType>
        <expression>If({!Request_Type}=&quot;NDA&quot;, CASE(
  MOD( {!$Flow.CurrentDate} - DATE( 1900, 1, 8 ), 7 ),
  0, {!$Flow.CurrentDate}+3,
  1, {!$Flow.CurrentDate}+3,
  2, {!$Flow.CurrentDate}+5,
  3, {!$Flow.CurrentDate}+5,
  4,{!$Flow.CurrentDate}+ 5,
  5, {!$Flow.CurrentDate}+4, 
  {!$Flow.CurrentDate}+3
),
 {!$Flow.CurrentDate}+7)</expression>
    </formulas>
    <formulas>
        <name>DefaultValueforMSA</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Request_Type}=&apos;New Customer&apos;, true,false)</expression>
    </formulas>
    <formulas>
        <name>HardwareIncludedText</name>
        <dataType>String</dataType>
        <expression>if({!HardwareCB},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>NDAExecutedText</name>
        <dataType>String</dataType>
        <expression>if({!NDA_CB},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>PHIText</name>
        <dataType>String</dataType>
        <expression>if({!PHI_CB},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SoftwareIncludedText</name>
        <dataType>String</dataType>
        <expression>if({!Software_CB},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>StrCommitUpside</name>
        <dataType>String</dataType>
        <expression>if(isblank({!CommitUpside}),&apos;&apos;, &apos;[&apos; + {!CommitUpside} + &apos;]&apos;)</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserProfileId</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <formulas>
        <name>vLuminaryText</name>
        <dataType>String</dataType>
        <expression>If({!Luminary_CB},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Q2C Flow (FORCE.COM users) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Q2C Flow (FORCE.COM users)</label>
    <loops>
        <name>LoopProfiles</name>
        <label>LoopProfiles</label>
        <locationX>371</locationX>
        <locationY>116</locationY>
        <assignNextValueToReference>testProfileValue</assignNextValueToReference>
        <collectionReference>rcvTestProfile</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isProfileForce</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecurringAccountInfo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLegalRequest</name>
        <label>CreateLegalRequest</label>
        <locationX>569</locationX>
        <locationY>1246</locationY>
        <assignRecordIdToReference>vLegalRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>End_of_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountLU__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BAA_Executed__c</field>
            <value>
                <elementReference>BAAExecutedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComUpside__c</field>
            <value>
                <elementReference>StrCommitUpside</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>Contract_Term_in_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Category__c</field>
            <value>
                <elementReference>CustomerCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Customer_Change__c</field>
            <value>
                <elementReference>Existing_Customer_Change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Revenue__c</field>
            <value>
                <elementReference>vRevenueforSFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hardware_Included__c</field>
            <value>
                <elementReference>HardwareIncludedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Luminary_Program__c</field>
            <value>
                <elementReference>vLuminaryText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSA_Requested__c</field>
            <value>
                <elementReference>defaultValueMSAforSFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA_Executed__c</field>
            <value>
                <elementReference>NDAExecutedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA_Type_Requested__c</field>
            <value>
                <elementReference>NDA_Type_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Customer_Services__c</field>
            <value>
                <elementReference>vServicesForSFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHI_PI_Accessible__c</field>
            <value>
                <elementReference>PHIText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Terms__c</field>
            <value>
                <elementReference>Pricing_Terms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122M000001UXS1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>Choose_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>ChooseOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by_Date__c</field>
            <value>
                <elementReference>DateRequestedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Requested__c</field>
            <value>
                <elementReference>defaultvalueforSOWforsfdc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Included__c</field>
            <value>
                <elementReference>SoftwareIncludedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Incorporation__c</field>
            <value>
                <elementReference>State_of_Incorporation1</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQ2CforForceUser</name>
        <label>CreateQ2CforForceUser</label>
        <locationX>982</locationX>
        <locationY>1185</locationY>
        <assignRecordIdToReference>vLegalRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>Completed_Rq</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountLU__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BAA_Executed__c</field>
            <value>
                <elementReference>BAAExecutedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComUpside__c</field>
            <value>
                <elementReference>StrCommitUpside</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>Contract_Term_in_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Category__c</field>
            <value>
                <elementReference>CustomerCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Customer_Change__c</field>
            <value>
                <elementReference>Existing_Customer_Change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Revenue__c</field>
            <value>
                <elementReference>vRevenueforSFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hardware_Included__c</field>
            <value>
                <elementReference>HardwareIncludedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Luminary_Program__c</field>
            <value>
                <elementReference>vLuminaryText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSA_Requested__c</field>
            <value>
                <elementReference>defaultValueMSAforSFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA_Executed__c</field>
            <value>
                <elementReference>NDAExecutedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA_Type_Requested__c</field>
            <value>
                <elementReference>NDA_Type_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Customer_Services__c</field>
            <value>
                <elementReference>vServicesForSFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHI_PI_Accessible__c</field>
            <value>
                <elementReference>PHIText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Terms__c</field>
            <value>
                <elementReference>Pricing_Terms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122M000001UXS1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>rvContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by_Date__c</field>
            <value>
                <elementReference>DateRequestedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Requested__c</field>
            <value>
                <elementReference>DefaultValueforSOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Included__c</field>
            <value>
                <elementReference>SoftwareIncludedText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_Incorporation__c</field>
            <value>
                <elementReference>State_of_Incorporation1</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountInfo</name>
        <label>GetAccountInfo</label>
        <locationX>389</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>rvAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>1201</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_contact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rvContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpporutnity</name>
        <label>GetOpporutnity</label>
        <locationX>975</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChooseOpportunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>rvOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>FC__c</queriedFields>
        <queriedFields>C_U__c</queriedFields>
        <queriedFields>Fiscal</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecurringAccountInfo</name>
        <label>GetStateofInc</label>
        <locationX>165</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountInfo</targetReference>
        </connector>
        <filters>
            <field>AccountLU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Legal_Request__c</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>AccountName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerCategory</assignToReference>
            <field>Customer_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStateofInc</assignToReference>
            <field>State_of_Incorporation__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>BAA_Screen</name>
        <label>BAA</label>
        <locationX>899</locationX>
        <locationY>748</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalize_Request</targetReference>
        </connector>
        <fields>
            <name>BAA_chosen</name>
            <fieldText>You have chosen to Request a BAA.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Services_to_be_Provided2</name>
            <choiceReferences>NewCustServicePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Services to be Provided</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Annual_Revenue3</name>
            <dataType>Number</dataType>
            <fieldText>Expected Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Contract_Term_in_Months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Contract Term in Months</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If the BAA is being requested for an evaluation, please provide the term (i.e. period) of that evaluation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completed_Rq</name>
        <label>Completed Request</label>
        <locationX>993</locationX>
        <locationY>1354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationForceUsers</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Your request has been added to Salesforce.com. You will receive an email with instructions on submitting the request to Legal. Be sure to review the information carefully, and add any supporting attachments to the submission form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Contact</name>
        <label>Related Contact:</label>
        <locationX>1339</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Request_Routing</targetReference>
        </connector>
        <fields>
            <name>ContactInfo</name>
            <fieldText>You have chosen the following contact as your Main contact for the Legal request.  Click Previous (twice) to choose a different Contact.
{!rvContact.Name}
Title:  {!rvContact.Title}
Phone:  {!rvContact.Phone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Your flow has ended</description>
        <name>End_of_Flow</name>
        <label>Form is complete</label>
        <locationX>575</locationX>
        <locationY>1383</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>Your request has been added to Salesforce.com.  You will receive an email with instructions on submitting the request to Legal.  Be sure to review the information carefully, and add any supporting attachments to the submission form.













 ref:{!vLegalRequestId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Customer</name>
        <label>Existing Customer Additional Questions</label>
        <locationX>1231</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalize_Request</targetReference>
        </connector>
        <fields>
            <name>Existing_Customer_Change</name>
            <choiceReferences>ExistingPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existing Customer Change</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finalize_Request</name>
        <label>Finalize Request</label>
        <locationX>660</locationX>
        <locationY>948</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignRevenueValue</targetReference>
        </connector>
        <fields>
            <name>DisplayTextFinalize</name>
            <fieldText>Request Type:  {!RequestType}
Submitter:  {!UserName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Comments are limited to 255 characters.</errorMessage>
                <formulaExpression>LEN({!Comments})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>You have requested Legal assistance. Please complete the questionnaire to  route to Legal.</description>
        <name>Legal_Request</name>
        <label>Quote to Contract Intake Form</label>
        <locationX>499</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RequestTypeblank</targetReference>
        </connector>
        <fields>
            <name>displayText1</name>
            <fieldText>You have selected this Account for your Q2C process:
{!rvAccount.Name}
{!rvAccount.BillingCity}, {!rvAccount.BillingState}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>Please choose the reason for requesting Legal assistance.   Choose carefully as this will determine your routing and approval matrix.  Please remember you must submit one request for each type of review needed.  If you need both a BAA and an NDA you will need to submit a separate request for each.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>SelectRT</choiceReferences>
            <choiceReferences>RequestType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>The questions that follow will be based on the selection chosen.  Choose New Customer if you need an MSA.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerCategory</name>
            <choiceReferences>Select_Value</choiceReferences>
            <choiceReferences>CustomerCategoryPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_Value</defaultSelectedChoiceReference>
            <fieldText>Select Customer Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>If a prior request has been submitted, this will populate from the most recent submission.  You may select a different value if appropriate.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>PriorityPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_of_Incorporation1</name>
            <choiceReferences>NotSelected</choiceReferences>
            <choiceReferences>StatePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State of Incorporation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>State of Incorporation will populate based on most recent Legal Request.  You can update this field if the value shown is not correct.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NDA_screen</name>
        <label>NDA Additional Fields</label>
        <locationX>290</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalize_Request</targetReference>
        </connector>
        <fields>
            <name>NDA_Selected</name>
            <fieldText>You have chosen to request an NDA.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NDA_Type_Requested</name>
            <choiceReferences>NDATypePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NDA Type Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Customer_Additional_Questions</name>
        <label>New Customer Additional Questions</label>
        <locationX>1228</locationX>
        <locationY>610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalize_Request</targetReference>
        </connector>
        <fields>
            <name>Services_to_be_Provided</name>
            <choiceReferences>NewCustServicePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Services to be Provided</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pricing_Terms</name>
            <dataType>String</dataType>
            <fieldText>Pricing Terms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Software_CB</name>
            <dataType>Boolean</dataType>
            <fieldText>Software Included</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HardwareCB</name>
            <dataType>Boolean</dataType>
            <fieldText>Hardware Included</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_CustomerScreen</name>
        <label>New/Existing Customer Additional Fields</label>
        <locationX>968</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignUserChoicesToDefault</targetReference>
        </connector>
        <fields>
            <name>MSA_Requested</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>DefaultValueforMSA</elementReference>
            </defaultValue>
            <fieldText>MSA Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SOW_Requested</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>DefaultValueforSOW</elementReference>
            </defaultValue>
            <fieldText>SOW Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Annual_Revenue2</name>
            <dataType>Number</dataType>
            <fieldText>Expected Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i&gt;Negative values are not allowed.&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Expected_Annual_Revenue2}&gt;=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Luminary_CB</name>
            <dataType>Boolean</dataType>
            <fieldText>Luminary Program</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NDA_CB</name>
            <dataType>Boolean</dataType>
            <fieldText>NDA Executed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BAA_CB</name>
            <dataType>Boolean</dataType>
            <fieldText>BAA Executed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PHI_CB</name>
            <dataType>Boolean</dataType>
            <fieldText>PHI/PI Accessible</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Opportunity</name>
        <label>Related Opportunity:</label>
        <locationX>1093</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsThereAContact</targetReference>
        </connector>
        <fields>
            <name>OppSelected</name>
            <fieldText>&lt;p&gt;You have selected the following Opportunity.  Use the Previous button to select a different opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!rvOpportunity.Name}&lt;/p&gt;&lt;p&gt;Amount:  {!rvOpportunity.Amount}&lt;/p&gt;&lt;p&gt;Start Date:  {!rvOpportunity.Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Commit or Upside?  {!CommitUpside}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Related_Opportunity</name>
        <label>Related Records and Due Date</label>
        <locationX>642</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsThereanOpportunity</targetReference>
        </connector>
        <fields>
            <name>ChooseOpportunity</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>OppList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose related Opportunity,if applicable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choose_contact</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>RelatedContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Related Client Contact, if applicable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DateRequestedBy</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRequestDate</elementReference>
            </defaultValue>
            <fieldText>Request Due Date (optional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 11, 11);&quot;&gt;Your requested due date must be at least 3 days in the future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DateRequestedBy}&gt;Today()+2</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TryAgain</name>
        <label>TryAgain</label>
        <locationX>451</locationX>
        <locationY>195</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Legal_Request</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;You must select a valid Request Type and Target Market value  Please review your entry and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assignProfileValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChooseRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please Choose a Request Type</stringValue>
        </value>
    </variables>
    <variables>
        <name>DefaultValueforSOW</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>defaultvalueforSOWforsfdc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>defaultValueMSAforSFDC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>DefaultValueforMSA</elementReference>
        </value>
    </variables>
    <variables>
        <name>forceProfiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isforce</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopIncorp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legal_Request__c</objectType>
    </variables>
    <variables>
        <name>rcvProfilesForce</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>rcvTestProfile</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvAccountUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvLegalHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Legal_Request__c</objectType>
    </variables>
    <variables>
        <name>rvLegalRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Legal_Request__c</objectType>
    </variables>
    <variables>
        <name>rvOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rvProfilesForce</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>testProfileValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCustomerCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStateofInc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegalRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLuminary</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityIDforLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRequestType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRevenueforSFDC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vServicesForSFDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
