flows/SendBookButton.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignDate</name>
        <label>AssignDate</label>
        <locationX>715</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>Getcontact.DateBookRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateRequested</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>EditAddressOption</name>
        <choiceText>Edit the Address</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>yes</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Address_is_complete</name>
        <label>Address is complete</label>
        <locationX>509</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>AssignDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address is complete</defaultConnectorLabel>
        <rules>
            <name>Missing_Address_Field</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Getcontact.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getcontact.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getcontact.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Getcontact.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oops</targetReference>
            </connector>
            <label>Missing Address Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_there_a_task</name>
        <label>is there a task</label>
        <locationX>523</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Task_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task was found</defaultConnectorLabel>
        <rules>
            <name>No_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_a_book</targetReference>
            </connector>
            <label>No Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>TryAgain</name>
        <label>TryAgain</label>
        <locationX>55</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>No_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TryAgainSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_a_book</targetReference>
            </connector>
            <label>TryAgainSelected</label>
        </rules>
    </decisions>
    <interviewLabel>SendBookButton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendBookButton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>806</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>create_a_task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Requested book to be sent on this date:  {!DateRequested}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Getcontact</name>
        <label>Getcontact</label>
        <locationX>168</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>DateBookRequested__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>410</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_there_a_task</targetReference>
        </connector>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2020-02-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Requested book to be sent on this date</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>657</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputReference>Getcontact</inputReference>
    </recordUpdates>
    <screens>
        <name>create_a_task</name>
        <label>TaskCreated</label>
        <locationX>954</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>&lt;p&gt;Your book has been requested and an activity is now reflected in your Activity Timeline.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An additional activity will show on the timeline when the book is actually mailed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Book</name>
        <label>No Book</label>
        <locationX>29</locationX>
        <locationY>763</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>final</name>
            <fieldText>&lt;p&gt;No book will be sent with this request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oops</name>
        <label>Oops</label>
        <locationX>384</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TryAgain</targetReference>
        </connector>
        <fields>
            <name>problem</name>
            <fieldText>&lt;p&gt;oops.... it looks like your address was not complete - want to try again or cancel your request?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>choice1</name>
            <choiceReferences>EditAddressOption</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>EditAddressOption</defaultSelectedChoiceReference>
            <fieldText>I choose to....</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_a_book</name>
        <label>Send a book</label>
        <locationX>412</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address_is_complete</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>&lt;p&gt;You have chosen to send &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Getcontact.Name} &lt;/b&gt;the book, &lt;a href=&quot;https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.amazon.com%2FReframing-Healthcare-Roadmap-Creating-Disruptive%2Fdp%2F1599328984%2Fref%3Dcm_cr_arp_d_product_top%3Fie%3DUTF8&amp;amp;data=02%7C01%7CLKing1%40R1RCM.COM%7C2064ccdb7f384952252708d7ae6be9ff%7C25c1df4b00ea4e3998bd5f1143c5c5df%7C0%7C0%7C637169650815303634&amp;amp;sdata=XeIZBLrF6W9B%2FwCH551VLkcVj357eCt9RZr4UpYngaw%3D&amp;amp;reserved=0&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;&lt;u&gt;Reframing Healthcare: A Roadmap for Creating Disruptive Change&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;, with a custom letter you can view &lt;a href=&quot;https://r1rcm.lightning.force.com/lightning/r/ContentDocument/0692M00000P7nvuQAB/view&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm that the address is correct below and choose the date you would like the book to be sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Getcontact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Getcontact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Getcontact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Getcontact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Getcontact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Getcontact.MailingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Getcontact.MailingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Getcontact.MailingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Getcontact.MailingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Getcontact.MailingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DateRequested</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>DateRequested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Exists</name>
        <label>Task Exists</label>
        <locationX>633</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowSubject</name>
            <fieldText>&lt;p&gt;We are sorry but a book can not be requested at this time.  A book has already been requested for this contact on &lt;b&gt;{!GetTask.ActivityDate}. &lt;/b&gt;Please reach out to Lisa King (lking1@r1rcm.com)  if you feel like you reached this message in error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Getcontact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
