flows/SprintTasksScheduler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SprintSchedulefired</name>
        <label>SprintSchedulefired</label>
        <locationX>857</locationX>
        <locationY>111</locationY>
        <actionName>Case.Integration_Project_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vLoopfuturetask.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>oneweek</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>SprintTasksScheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SprintTasksScheduler</label>
    <loops>
        <name>LoopthruFutureTasks</name>
        <label>LoopthruFutureTasks</label>
        <locationX>263</locationX>
        <locationY>76</locationY>
        <assignNextValueToReference>vLoopfuturetask</assignNextValueToReference>
        <collectionReference>GetTasksforthisweek</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SprintSchedulefired</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>421</locationX>
        <locationY>110</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>vLoopfuturetask.Activity_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vLoopfuturetask.Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Master_Name__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>vLoopfuturetask.Sprint_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vLoopfuturetask.Task_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vLoopfuturetask.AccountID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetTasksforthisweek</name>
        <label>GetTasksforthisweek</label>
        <locationX>156</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthruFutureTasks</targetReference>
        </connector>
        <filters>
            <field>Activity_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>oneweek</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sprint_Future_Tasks__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Activity_Date__c</queriedFields>
        <queriedFields>Task_Subject__c</queriedFields>
        <queriedFields>AccountID__c</queriedFields>
        <queriedFields>Sprint_ID__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
        <sortField>Activity_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTasksforthisweek</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-01-06</startDate>
            <startTime>12:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>rcTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vLoopfuturetask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprint_Future_Tasks__c</objectType>
    </variables>
</Flow>
