flows/SprintBatch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>SprintBatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SprintBatch</label>
    <loops>
        <name>Loop_through_Selected_Accounts</name>
        <label>Loop through Selected Accounts</label>
        <locationX>277</locationX>
        <locationY>69</locationY>
        <assignNextValueToReference>loopvarAccount</assignNextValueToReference>
        <collectionReference>varSelectedAccs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateSprint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateSprint</name>
        <label>CreateSprint</label>
        <locationX>288</locationX>
        <locationY>298</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>loopvarAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Assignment__c</field>
            <value>
                <elementReference>GetSprints.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordCreates>
    <screens>
        <name>Choose_a_Sprint</name>
        <label>Choose a Sprint</label>
        <locationX>164</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_Accounts</targetReference>
        </connector>
        <fields>
            <name>GetSprints</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sprint_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sprint to assign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Sprint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion</name>
        <label>Completion</label>
        <locationX>445</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;Sprint assignment is complete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_a_Sprint</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>loopvarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varSelectedAccs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
