flows/SprintDeleteFutureTasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>any_current_tasks</name>
        <label>any current tasks?</label>
        <locationX>809</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>UpdateFlowcheckbox_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>we_have_current_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkTasksCompleted</targetReference>
            </connector>
            <label>we have current tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>any_future_tasks</name>
        <label>any future tasks?</label>
        <locationX>209</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Cancel_Current_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_future_tasks_were_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFutureTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteFutureTasks</targetReference>
            </connector>
            <label>yes future tasks were found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Current_Tasks</name>
        <label>Cancel Current Tasks</label>
        <locationX>499</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>UpdateFlowcheckbox_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelCurrentTasks.messageToggleActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCurrentTasks</targetReference>
            </connector>
            <label>Cancel current</label>
        </rules>
    </decisions>
    <decisions>
        <name>CancelFutureTasks1</name>
        <label>CancelFutureTasks</label>
        <locationX>321</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Cancel_Current_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_future_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelCurrentTasks.messageToggleActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFutureTasks</targetReference>
            </connector>
            <label>Cancel future tasks</label>
        </rules>
    </decisions>
    <interviewLabel>{!recordID}</interviewLabel>
    <label>SprintDeleteFutureTasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteFutureTasks</name>
        <label>DeleteFutureTasks</label>
        <locationX>622</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Cancel_Current_Tasks</targetReference>
        </connector>
        <filters>
            <field>Sprint_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Sprint_Future_Tasks__c</object>
    </recordDeletes>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>GetSprintAccount</label>
        <locationX>1281</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateSelectASprint</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Sprint__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentTasks</name>
        <label>GetCurrentTasks</label>
        <locationX>723</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>any_current_tasks</targetReference>
        </connector>
        <filters>
            <field>Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFutureTasks</name>
        <label>GetFutureTasks</label>
        <locationX>219</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>any_future_tasks</targetReference>
        </connector>
        <filters>
            <field>Sprint_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sprint_Future_Tasks__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MarkTasksCompleted</name>
        <label>MarkTasksCancelled</label>
        <locationX>859</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>UpdateFlowcheckbox</targetReference>
        </connector>
        <filters>
            <field>Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFlowcheckbox</name>
        <label>UpdateFlowcheckbox</label>
        <locationX>1001</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>UpdateSprintStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FlowUpdate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFlowcheckbox_0</name>
        <label>UpdateFlowcheckbox</label>
        <locationX>1254</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FlowUpdate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFlowcheckbox_0_0</name>
        <label>UpdateFlowcheckbox</label>
        <locationX>1014</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>UpdateSprintStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FlowUpdate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSelectASprint</name>
        <label>updateSelectASprint</label>
        <locationX>1576</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Select_a_Sprint__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSprintStatus</name>
        <label>UpdateSprintStatus</label>
        <locationX>1125</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>UpdateFlowcheckbox_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1562</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancelConfirm</name>
            <fieldText>&lt;p&gt;Sprint has been cancelled for this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interview1</name>
        <label>Interview1</label>
        <locationX>189</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CancelFutureTasks1</targetReference>
        </connector>
        <fields>
            <name>CancelSprint</name>
            <fieldText>&lt;p&gt;You have chosen to cancel this Account&apos;s Sprint.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CancelFutureTasks</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cancel any Future Tasks?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CancelCurrentTasks</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cancel any Open Tasks?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cancellation_Reason</name>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Interview1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
