flows/subflow_RunTasksforSelectedUser.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>oneweek</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>subflow-RunTasksforSelectedUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow-RunTasksforSelectedUser</label>
    <loops>
        <name>LoopthruFutureTasks</name>
        <label>LoopthruFutureTasks</label>
        <locationX>289</locationX>
        <locationY>462</locationY>
        <assignNextValueToReference>vLoopfuturetask</assignNextValueToReference>
        <collectionReference>GetTasksforthisweek</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deletefuturetasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>864</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>LoopthruFutureTasks</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>vLoopfuturetask.Activity_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>vLoopfuturetask.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vLoopfuturetask.Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Master_Name__c</field>
            <value>
                <elementReference>vLoopfuturetask.Sprint_Master_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>vLoopfuturetask.Sprint_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vLoopfuturetask.Task_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vLoopfuturetask.AccountID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <description>Delete future tasks after they are scheduled</description>
        <name>Deletefuturetasks</name>
        <label>Deletefuturetasks</label>
        <locationX>811</locationX>
        <locationY>701</locationY>
        <inputReference>GetTasksforthisweek</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetTasksforthisweek</name>
        <label>GetTasksforthisweek</label>
        <locationX>155</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthruFutureTasks</targetReference>
        </connector>
        <filters>
            <field>Activity_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>oneweek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sprint_Future_Tasks__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Activity_Date__c</queriedFields>
        <queriedFields>Task_Subject__c</queriedFields>
        <queriedFields>AccountID__c</queriedFields>
        <queriedFields>Sprint_ID__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Sprint_Master_Name__c</queriedFields>
        <sortField>Activity_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTasksforthisweek</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bnDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vLoopfuturetask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprint_Future_Tasks__c</objectType>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
