flows/TA_ConvertRecruitingtoTA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>TA-ConvertRecruitingtoTA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TA-ConvertRecruitingtoTA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetUniversityName</name>
        <label>GetUniversityName</label>
        <locationX>297</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCampusRecruitingRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCampusRecruitingRecord</name>
        <label>updateCampusRecruitingRecord</label>
        <locationX>453</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0012M00002JdDfcQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>R_Candidate_Status__c</field>
            <value>
                <stringValue>New Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>R_University__c</field>
            <value>
                <elementReference>GetUniversityName.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122M000001MI0WQAW</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete!</label>
        <locationX>559</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finished</name>
            <fieldText>&lt;p&gt;Your record has been converted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Convert_to_R1_Candidate</name>
        <label>Convert to R1 Candidate</label>
        <locationX>153</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetUniversityName</targetReference>
        </connector>
        <fields>
            <name>clicknext</name>
            <fieldText>&lt;p&gt;Click next to convert this record to a Talent Acquisition Candidate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Convert_to_R1_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
