flows/testSelectSprintUsers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>rsetMyUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Default_Dashboard__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Default Dashboard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>lastID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>testSelectSprintUsers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testSelectSprintUsers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SelectUser</name>
        <label>SelectUser</label>
        <locationX>600</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RunSubflow</targetReference>
        </connector>
        <fields>
            <name>Pick_User</name>
            <choiceReferences>rsetMyUsers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectUser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>RunSubflow</name>
        <label>RunSubflow</label>
        <locationX>733</locationX>
        <locationY>97</locationY>
        <flowName>subflow_RunTasksforSelectedUser</flowName>
        <inputAssignments>
            <name>vUserId</name>
            <value>
                <elementReference>lastID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>lastID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
</Flow>
