flows/UpdateLongStateofIncorporation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>UpdateLongStateofIncorporation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateLongStateofIncorporation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountData</name>
        <label>GetAccountData</label>
        <locationX>141</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLongState</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>rvAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>State_of_Incorporation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetLongState</name>
        <label>GetLongState</label>
        <locationX>273</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetLongName</targetReference>
        </connector>
        <filters>
            <field>Value_to_Validate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvAccount.State_of_Incorporation__c</elementReference>
            </value>
        </filters>
        <object>StateProvince__c</object>
        <outputReference>rvState</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>SetLongName</name>
        <label>SetLongName</label>
        <locationX>404</locationX>
        <locationY>107</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Long_State_of_Incorporation__c</field>
            <value>
                <elementReference>rvState.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>GetAccountData</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvState</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StateProvince__c</objectType>
    </variables>
</Flow>
