flows/UpdateOutcomeStatus_with_Email_sent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>updated to remove attempts 5,6,7,8</description>
    <formulas>
        <name>nextOutcomeStatus</name>
        <dataType>String</dataType>
        <expression>case({!vCurrentOutcomeStatus},&quot;Awaiting Contact&quot;,&quot;First Contact Attempt&quot;,&quot;First Contact Attempt&quot;,&quot;Second contact attempt&quot;,&quot;Second Contact Attempt&quot;, &quot;Third Contact Attempt&quot;, &quot;Third Contact Attempt&quot;, &quot;Fourth Contact Attempt&quot;, &quot;Fourth Contact Attempt&quot;)</expression>
    </formulas>
    <interviewLabel>UpdateOutcomeStatus_with_Email_sent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOutcomeStatus_with_Email_sent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLeadRecord</name>
        <label>GetLeadRecord</label>
        <locationX>183</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Outcome_Status</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadEmailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New - Awaiting Qualification</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>OpenLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCurrentOutcomeStatus</assignToReference>
            <field>Outcome_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outcome_Status</name>
        <label>Update_Outcome_Status</label>
        <locationX>313</locationX>
        <locationY>64</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outcome_Status__c</field>
            <value>
                <elementReference>nextOutcomeStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetLeadRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpenLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rvLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vCurrentOutcomeStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLeadEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
