flows/Update_Solution_Portfolio_Competitor_Flag.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addToCount</name>
        <label>addToCount</label>
        <locationX>565</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>vCountCompetitors</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCompetName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Competitor_Hover_Value</name>
        <label>Assign Competitor Hover Value</label>
        <locationX>829</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>vCompetHover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCompetName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Competitors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>concat_values</name>
        <label>concat values</label>
        <locationX>936</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>vCompetHover</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCompetHover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCompetName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Competitors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finish_False</name>
        <label>Finish False</label>
        <locationX>333</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>loopIfActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Finish_True_update</name>
        <label>Finish True update</label>
        <locationX>640</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>loopIfActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>anyActiveRecords</name>
        <label>anyActiveRecords?</label>
        <locationX>321</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Competitors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>at least 1 active</defaultConnectorLabel>
        <rules>
            <name>No_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcCompetitiveRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SolPort_to_False</targetReference>
            </connector>
            <label>No records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_hover_has_value</name>
        <label>check if hover has value</label>
        <locationX>721</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>concat_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hover_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCompetHover</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Competitor_Hover_Value</targetReference>
            </connector>
            <label>hover is empty</label>
        </rules>
    </decisions>
    <interviewLabel>Update Solution Portfolio Competitor Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Solution Portfolio Competitor Flag</label>
    <loops>
        <name>Loop_thru_Competitors</name>
        <label>Loop thru Competitors</label>
        <locationX>641</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>loopRVCompet</assignNextValueToReference>
        <collectionReference>rcCompetitiveRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addToCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateSolPortTrue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActiveRecordsforSolution</name>
        <label>GetActiveRecordsforSolution</label>
        <locationX>337</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSolPortfolioStatus</targetReference>
        </connector>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvCompetitive.Related_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Covered__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvCompetitive.Solution_Covered__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Competitive_Info__c</object>
        <outputReference>rcCompetitiveRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Solution_Covered__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Competitor_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCompetitiveRecord</name>
        <label>GetCompetitiveRecordThatStartedFlow</label>
        <locationX>167</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetActiveRecordsforSolution</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <object>Competitive_Info__c</object>
        <outputReference>rvCompetitive</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_To__c</queriedFields>
        <queriedFields>Solution_Covered__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCompetName</name>
        <label>getCompetName</label>
        <locationX>601</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_hover_has_value</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopRVCompet.Competitor_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Competitor__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSolPortfolioStatus</name>
        <label>GetSolPortfolioStatus</label>
        <locationX>327</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>anyActiveRecords</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvCompetitive.Related_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvCompetitive.Solution_Covered__c</elementReference>
            </value>
        </filters>
        <object>SolPort__c</object>
        <outputReference>rvSolPort</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Competitor__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_SolPort_to_False</name>
        <label>Set SolPort to False</label>
        <locationX>319</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Finish_False</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvSolPort.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitors__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateSolPortTrue</name>
        <label>updateSolPortTrue</label>
        <locationX>586</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Finish_True_update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvSolPort.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitors__c</field>
            <value>
                <elementReference>vCompetHover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountAllCompetitors__c</field>
            <value>
                <elementReference>vCountCompetitors</elementReference>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCompetitiveRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopIfActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopRVCompet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitive_Info__c</objectType>
    </variables>
    <variables>
        <name>rcCompetitiveRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitive_Info__c</objectType>
    </variables>
    <variables>
        <name>rvCompetitive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitive_Info__c</objectType>
    </variables>
    <variables>
        <name>rvSolPort</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SolPort__c</objectType>
    </variables>
    <variables>
        <name>vCompetHover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCompetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCountCompetitors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vtemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
