flows/Update_To_Qualified_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Lead</name>
        <label>Refresh Lead</label>
        <locationX>711</locationX>
        <locationY>105</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Lead_Qualified_Message_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>1.6.2019 Omitted update to Outcome Status. Whatever existed in that field prior to button being pressed remains intact.</description>
    <interviewLabel>Update_To_Qualified_Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update To Qualified Lead</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead_Qualified_Record_Type_Lookup</name>
        <label>Lead Qualified Record Type Lookup</label>
        <locationX>316</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Qualified_Lead</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Lead_Qualified_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Suspect_Record_Type_Lookup</name>
        <label>Lead Suspect Record Type Lookup</label>
        <locationX>115</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Qualified_Record_Type_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspect</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Lead_Suspect_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Qualified_Lead</name>
        <label>Update_Qualified_Lead</label>
        <locationX>519</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>Refresh_Lead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Suspect_Record_Type_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <stringValue>Qualified Lead (QL)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Lead_Qualified_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active Lead - In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Lead_Qualified_Message_Screen</name>
        <label>Lead Qualified Message</label>
        <locationX>920</locationX>
        <locationY>106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Qualified_Lead_Message</name>
            <fieldText>The lead is now qualified.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lead_Suspect_Record_Type_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>Lead_Qualified_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Suspect_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
