flows/updateClosedTasksonWonOpps.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>dateOneWeekago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-7</expression>
    </formulas>
    <interviewLabel>updateClosedTasksonWonOpps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateClosedTasksonWonOpps</label>
    <loops>
        <name>LoopthruOpps</name>
        <label>LoopthruOpps</label>
        <locationX>275</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>loopOpp</assignNextValueToReference>
        <collectionReference>GetClosedOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetOpenTasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateEachTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>updateEachTask</name>
        <label>updateEachTask</label>
        <locationX>307</locationX>
        <locationY>225</locationY>
        <assignNextValueToReference>loopTask</assignNextValueToReference>
        <collectionReference>Taskstobeclosed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CancelOpenTask</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClosedOpps</name>
        <label>GetClosedOpps</label>
        <locationX>164</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthruOpps</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dateOneWeekago</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenTasks</name>
        <label>GetOpenTasks</label>
        <locationX>556</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthruOpps</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Taskstobeclosed</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CancelOpenTask</name>
        <label>CancelOpenTask</label>
        <locationX>473</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>updateEachTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetClosedOpps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>loopOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>loopTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskstobeclosed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
