flows/UpdateSolPortFlag_for_Current_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>for the opportunity triggering this flow, was it marked as 
Closed Won? if yes  flag the current box, if no do nothing</description>
        <name>TypeofUpdate</name>
        <label>Is it Won?</label>
        <locationX>332</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>UpdateforLostOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stage = Closed Lost</defaultConnectorLabel>
        <rules>
            <name>Stage_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateforSoldOpp</targetReference>
            </connector>
            <label>Stage = Won</label>
        </rules>
        <rules>
            <name>Stage_Closed_Walked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Walked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateforSoldWalkedOpp</targetReference>
            </connector>
            <label>Stage = Closed Walked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update</name>
        <label>are there any current opps?</label>
        <locationX>338</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Opp_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>clear opp flag</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOppFlag</targetReference>
            </connector>
            <label>at least one current opp</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateSolPortFlag for Current Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateSolPortFlag for Current Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpportunityInfo</name>
        <label>GetOpportunityInfo</label>
        <locationX>222</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSolutionName</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageCount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Solution__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Opp_flag</name>
        <label>Uncheck Opp flag</label>
        <locationX>374</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>TypeofUpdate</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSolutionName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_value__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateforLostOpp</name>
        <label>UpdateforLostOpp</label>
        <locationX>911</locationX>
        <locationY>666</locationY>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSolutionName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_value__c</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateforSoldOpp</name>
        <label>UpdateforSoldOpp</label>
        <locationX>404</locationX>
        <locationY>749</locationY>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSolutionName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateforSoldWalkedOpp</name>
        <label>UpdateforWalkedOpp</label>
        <locationX>1099</locationX>
        <locationY>502</locationY>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSolutionName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_value__c</field>
            <value>
                <stringValue>Closed Walked</stringValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppFlag</name>
        <label>UpdateOppFlag</label>
        <locationX>677</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>TypeofUpdate</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solution_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSolutionName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_value__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>SolPort__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>GetOpportunityInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DoNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSolutionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
