flows/Update_to_Accepted_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Lead</name>
        <label>Refresh Lead</label>
        <locationX>747</locationX>
        <locationY>106</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Accepted_Lead_Message</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>1.6.2019 updated to exclude update to Outcome Status. Whatever OS existed prior to button being pressed remains intact.</description>
    <interviewLabel>Update to Accepted Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update to Accepted Lead</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead_Qualified_Record_Type_Lookup1</name>
        <label>Lead Qualified Record Type Lookup</label>
        <locationX>118</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Sales_Qualified_Lead_Record_Type_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Lead_Qualified_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Sales_Qualified_Lead_Record_Type_Lookup</name>
        <label>Lead Sales Qualified Lead Record Type Lookup</label>
        <locationX>316</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Accepted_Lead</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Qualified_Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Lead_Sales_Qualfied_Lead_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accepted_Lead</name>
        <label>Update_Lead_To_Accepted</label>
        <locationX>536</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>Refresh_Lead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Qualified_Record_Type_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funnel_Stage__c</field>
            <value>
                <stringValue>Sales Qualified Lead (SQL)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Lead_Sales_Qualfied_Lead_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active Lead - In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Accepted_Lead_Message</name>
        <label>Accepted Lead Message</label>
        <locationX>943</locationX>
        <locationY>107</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Accepted_Message</name>
            <fieldText>The lead is now accepted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lead_Qualified_Record_Type_Lookup1</startElementReference>
    <status>Active</status>
    <variables>
        <name>Lead_Qualified_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Sales_Qualfied_Lead_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
